::-webkit-scrollbar {
    width: 2px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: #4eac6d;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

::selection {
    background-color: #4eac6d;
}